<tr class="delete_gallery_<%=gallery.id%>">

  <td>
    <%= gallery.id%>
  </td>

  <td>
    <%=status_converter(gallery.status)%>
  </td>

  <td>
    <%=time_ago(gallery.created_at)%>
  </td>

  <td>
    <%=form_for([:admin, gallery], remote: true) do |f|%>
      <%=link_to admin_gallery_path(gallery), email: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_gallery_path(gallery), email: "Edit",id: "show-form_#{gallery.id}" do %>
        Edit
      <%end%>
    <%end%>
  </td>
  <td style="display: none;">ass</td>
</tr>
