<%=simple_form_for([:admin, gallery], remote: true) do |f|%>
  <div class="row">

    <div class="col-md-12" style="margin-bottom: 20px;">
      <h3>Upload Photo</h3>
        <div class="controls">
            <%=f.file_field :image%>
        </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label mb-10 text-left">Your product is now <%=status_converter(@gallery.status)%></label>
        <div class="checkbox checkbox-success">
          <%=f.check_box :status, id: "checkbox3"%>
          <label for="checkbox3">
            Status
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%=f.submit class: "btn btn-success"%>
      </div>
    </div>
  </div>

<%end%>
