$("input#gallery_gallery_name").val("");
$("#gallery-errors").html(" ");
$("#gallery-success").html("<%= custom_flash_message%>");
$("#gallery-index").append("<%=escape_javascript render(@gallery)%>");

$(function() {
  $('.delete_gallery_<%=@gallery.id%>').submitOnCheck();
});

$('.delete_gallery_<%=@gallery.id%>').submitOnCheck();