
	<div class="page-wrapper">
		<div class="container pt-30">
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-success card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<h6 class="panel-title txt-light">Edit Gallery</h6>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">
								<%=simple_form_for([:admin, @gallery]) do |f|%>
									<div class="row">

								    <div class="col-md-12" style="margin-bottom: 20px;">
											<div class="form-group">
									        <div class="controls">
									            <%=f.file_field :image%>
									        </div>
									     </div>
										</div>
								   </div>

									<div class="col-md-12">
							      <div class="form-group">
							        <label class="control-label mb-10 text-left">Your product is now <%=status_converter(@gallery.status)%></label>
							        <div class="checkbox checkbox-success">
							          <%=f.check_box :status, id: "checkbox3"%>
							          <label for="checkbox3">
							            Status
							          </label>
							        </div>
							      </div>
							    </div>
									<div class="col-md-12">
										<div class="modal-footer">
											<%=link_to "Cancle", admin_galleries_path, class: "btn btn-default"%>
											<%=f.submit class: "btn btn-success"%>
										</div>
									</div>
								</div>

							<%end%>

						</div>
					</div>
				</div>
				<div class="col-md-3">
					<img src="<%=@gallery.image%>" alt="" width="200" height="200">
				</div>
			</div>
		</div>
	</div>

	<%=render "applications/footer"%>

</div>
