<div class="wrapper  pa-0">
			<header class="sp-header">
				<div class="clearfix"></div>
			</header>

			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<h3 class="text-center txt-dark mb-10">Sign in to system</h3>
											<h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
											<p class="text-center nonecase-font txt-grey">Already have an account <%= link_to "Sign In", sign_in_path, style: "font-weight: bold;"%></p>
										</div>
										<div class="form-wrap">
											<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:class=>"login-form cf-style-1") do |f| %>
											<%= devise_error_messages! %>
											<div class="row">
												<div class="form-group col-lg-6">
													<label class="control-label mb-10" for="exampleInputEmail_2">Phone Number</label>
													<%= f.text_field :country_code, autofocus: true,:class=>"form-control", :placeholder=>"Phone", id: "authy-countries"%>
												</div>
												<div class="form-group col-lg-6">
													<label class="control-label mb-10" for="exampleInputEmail_2">Phone Number</label>
													<%= f.text_field :phone_number, autofocus: true,:class=>"form-control", :placeholder=>"Phone"%>
												</div>
												<div class="form-group col-lg-12">
													<label class="pull-left control-label mb-10" for="exampleInputpwd_2">Email</label>
													<div class="clearfix"></div>
													<%= f.email_field :email, autofocus: true,:class=>"form-control", :placeholder=>"Email"%>
												</div>

												<div class="form-group col-lg-6">
													<label class="pull-left control-label mb-10" for="exampleInputpwd_2">Password</label>
													<div class="clearfix"></div>
													<%= f.password_field :password, autocomplete: "off",:class=>"form-control", :placeholder=>"Password"%>
												</div>
												<div class="form-group col-lg-6">
													<label class="pull-left control-label mb-10" for="exampleInputpwd_2">Confirmation Password</label>
													<div class="clearfix"></div>
													<%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control", :placeholder=>"Confirmation Password"%>
												</div>
											</div>
											<div class="form-group">
												<div class="checkbox checkbox-primary pr-10 pull-left">
													<% if devise_mapping.rememberable? -%>
														<%= f.check_box :remember_me %>
														<%= f.label :remember_me %>
													<% end %>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="form-group text-center">
												<button type="submit" class="btn btn-orange btn-rounded">sign up</button>
												<%=link_to "Home", root_path, class: "btn btn-default btn-rounded"%>
											</div>
										<%end%>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>

			</div>
			<!-- /Main Content -->

		</div>
