<tr class="delete_article_<%=article.id%>">

  <td>
    <%= article.title%>
  </td>

  <td>
    <%=time_ago(article.created_at)%>
  </td>

  <td>
    <%=form_for([:admin, article], remote: true) do |f|%>
      <%=link_to admin_article_path(article), email: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_article_path(article), email: "Edit",id: "show-form_#{article.id}" do %>
        Edit
      <%end%>
    <%end%>
  </td>
</tr>
