$("input#article_article_name").val("");
$("#article-errors").html(" ");
$("#article-success").html("<%= custom_flash_message%>");
$("#article-index").append("<%=escape_javascript render(@article)%>");

$(function() {
  $('.delete_article_<%=@article.id%>').submitOnCheck();
});

$('.delete_article_<%=@article.id%>').submitOnCheck();
