<!-- Main Content -->
<div class="page-wrapper">
    <div class="container pt-30">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-light">article Detail</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <span>
                                article Name:
                                <span><%=@article.article_name%></span>
                            </span>
                            <hr>
                            <hr>
                            <div class="pull-left">
                                <%=link_to "Cancel", admin_articles_path, class: "btn btn-warning"%>
                                <%=link_to "Edit", edit_admin_article_path(@article), class: "btn btn-success"%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%=render "applications/footer"%>

</div>

