<div id="wishlist_line_item-errors"></div>
<div id="wishlist_line_item-success"></div>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">

    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->

    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->

    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->

  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->

  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <div class="page-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-12" style="padding-left: 0px;">
            <div class="verify_container">
              <h1>Just To Be Safe...</h1>
              <p>
                Your account has been created, but we need to make sure you're a human
                in control of the phone number you gave us. <br> Can you please enter the
                verification code we just sent to your phone?
              </p>

              <div class="form-group col-lg-8">
                <%= form_tag users_verify_path do %>
                  <%= label_tag :code, "Verification Code:" %>
                  <%= text_field_tag :token, '', class: "form-control" %>
                  <br>
                  <button type="submit" class="btn btn-primary">Verify Token</button>
                <% end %>
              </div>
            </div>
          </div>
          <div class="verify_container">.
            <div class="form-group col-lg-6">
              <%= form_tag users_resend_path do %>
                <button type="submit" class="btn">Resend code</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<%=render "front-end/footer-area"%>

</div>

<div id="backTop" class="back-top is-hidden-sm-down">
<i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
