<div id="out_of_stock_error" style="display: none;"></div>

<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">

    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->

    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->

    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->

  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->

  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <div class="page-container" style="margin-top: 35px;">
      <div class="container">
        <div class="cart-area ptb-60">
          <div class="container">
            <div class="cart-wrapper">
              <h3 class="h-title mb-30 t-uppercase">My Cart</h3>
              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <table id="cart_list" class="cart-list mb-30">
                      <thead class="panel t-uppercase">
                        <tr>
                          <th style="font-size: 10px;">Product name</th>
                          <th style="font-size: 10px;">Unit price</th>
                          <th style="font-size: 10px;">Quantity</th>
                          <th style="font-size: 10px;">Sub total</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <%@cart.line_items.each do |line_item|%>
                          <tr class="panel alert reduce_qty_<%=line_item.id%>" id="delete_cart_<%=line_item.id%>">
                          <td>
                            <div class="media-left is-hidden-sm-down">
                              <figure class="product-thumb">
                                <%line_item.product.assets.limit(1).each do |asset|%>
                                  <img src="<%=asset.product%>" alt="product">
                                <%end%>
                              </figure>
                            </div>
                            <div class="media-body valign-middle">
                              <h6 class="title mb-15 t-uppercase">
                                <a href="#"><%=line_item.product.product_name.capitalize%></a>
                              </h6>
                              <div class="type font-12">
                                <span class="t-uppercase">Type :
                                </span><%=line_item.product.category.category_name%>
                              </div>
                            </div>
                          </td>
                          <td><%=number_to_currency(line_item.product.product_price)%></td>
                          <td>

                            <%=link_to line_item_reduce_path(:id => line_item) , method: :post , style: "margin-top:15px;",class: "reduce-qty",remote: true do %>
                              <i class="fa fa-minus"></i>
                            <% end %>

                            <span class="qty" id="qty_<%=line_item.id%>"><%=line_item.quantity%></span>
                            <%=link_to line_item_add_path(:id => line_item) , method: :post , style: "margin-top:15px;",class: "increase-qty",remote: true do %>
                              <i class="fa fa-plus"></i>
                            <% end %>
                          </td>
                          <td>
                            <div class="sub-total" id="sub-total_<%=line_item.id%>"><%=number_to_currency(line_item.total_price)%></div>
                          </td>
                          <td class="col-sm-1">
                            <%=link_to line_item_path(@current_cart.line_items.find_by(product_id: line_item.product.id)) ,method: :delete ,class: "close pr-xs-0 pr-sm-10", remote: true do %>
                              <i class="fa fa-trash-o"></i>
                              <% end %>
                          </td>
                        </tr>
                        <%end%>
                      </tbody>
                    </table>
                    <div class="t-left">
                      <%=link_to "Continue Shopping", products_path, class: "btn btn-rounded btn-lg"%>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="review-wrapper clearfix">
                      <div class="cart-price">

                        <h5 class="t-uppercase mb-20">Cart total</h5>
                        <ul class="panel mb-20">
                          <li>
                            <div class="item-name">
                              Subtotal
                            </div>
                            <div class="price" id="sub_total">
                              <%=number_to_currency(@cart.sub_total)%>
                            </div>
                          </li>
                          <li>
                            <div class="item-name">
                              Delivery Fee
                            </div>
                            <div class="price">
                              $00.00
                            </div>
                          </li>
                          <li>
                            <div class="item-name">
                              <strong class="t-uppercase">Order total</strong>
                            </div>
                            <div class="price" id="sub_total_order">
                              <span><%=number_to_currency(@cart.sub_total)%></span>
                            </div>
                          </li>
                          <li>
                            <h6 class="t-uppercase mb-20" style="font-size: 12px;">
                              <b>Payment: Cash On Delivery</b>
                            </h6>
                          </li>
                        </ul>

                        <div class="t-right">

                            <%= button_to "Checkout", new_order_path , method: :get,class: "btn btn-rounded btn-lg"%>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%=render "front-end/footer-area"%>

</div>

<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<div id="minus_one" style="display: none;"></div>
