<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">

    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->

    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->

    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->

  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->

  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <div class="page-container" style="margin-top: 35px;">
      <div class="container">
        <div class="wishlist-wrapper">
          <h3 class="h-title mb-40 t-uppercase">My Wishlist</h3>
          <table id="cart_list" class="wishlist">
            <tbody>
              <%@wishlist.wishlist_line_items.each do |item|%>
                <tr class="panel alert" id="delete_wishlist_<%=item.id%>">
                <td class="col-sm-8 col-md-9">
                  <div class="media-left is-hidden-sm-down">
                    <figure class="product-thumb">
                      <img src="<%=item.product.photo%>" alt="product">
                    </figure>
                  </div>
                  <div class="media-body valign-middle">
                    <h5 class="title mb-5 t-uppercase">
                      <a href="#"><%=item.product.product_name%></a>
                    </h5>
                    <div class="rating mb-10">
                      <span class="rating-stars rate-allow" data-rating="2">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o star-active"></i>
                        <i class="fa fa-star-o"></i>
                      </span>
                      <span class="rating-reviews">
                        (
                        <span class="rating-count">100</span>
                        rates )
                      </span>
                    </div>
                    <h4 class="price color-green"><%=number_to_currency(item.product.product_price)%></h4>
                    <button class="btn btn-rounded btn-sm mt-15 is-hidden-sm-up">Add To Cart</button>
                  </div>
                </td>
                <td class="col-sm-3 col-md-2 is-hidden-xs-down">
                  <%=button_to line_items_path(:product_id => item.product.id), class: "btn btn-rounded btn-sm", params:{productID: item.product.id} do %>
                    <i class="fa fa-shopping-cart font-16 mr-10"></i>
                    Add to Cart
                  <% end %>
                </td>
                <td>
                <td class="col-sm-1">
                  <%=button_to wishlist_line_item_path(@current_wishlist.wishlist_line_items.find_by(product_id: item.product.id)) ,method: :delete ,class: "close pr-xs-0 pr-sm-10",remote: true  do %>
                    <i class="fa fa-trash-o"></i>
                    <% end %>
                </td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <%=render "front-end/footer-area"%>

</div>

<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
