<tr class="delete_admin_<%=admin.id%>">

  <td>
    <%= admin.email%>
  </td>
  
  <td>
    <%=time_ago(admin.created_at)%>
  </td>

  <td>
    <%=form_for([:admin, admin], remote: true) do |f|%>
      <%=link_to admin_admin_path(admin), email: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_admin_path(admin), email: "Edit",id: "show-form_#{admin.id}" do %>
        Edit
      <%end%>
    <%end%>
  </td>
</tr>
