<%=simple_form_for([:admin, @admin], remote: true) do |f|%>
  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <label for="recipient-name" class="control-label mb-10">Role</label>
        <%=f.select :role,(Admin.roles.keys.map{ |role| [role.titleize, role]}), {}, {:class=>"form-control"}%>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="recipient-name" class="control-label mb-10">First Name</label>
        <%=f.text_field :first_name, class: "form-control"%>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="recipient-name" class="control-label mb-10">Last Name</label>
        <%=f.text_field :last_name, class: "form-control"%>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label for="recipient-name" class="control-label mb-10">Username</label>
        <%=f.text_field :username, class: "form-control"%>
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group">
        <label for="recipient-name" class="control-label mb-10">Email</label>
        <%=f.text_field :email, class: "form-control"%>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label for="recipient-name" class="control-label mb-10">Password</label>
        <%=f.password_field :password, class: "form-control", placeholder: "Password"%>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label for="recipient-name" class="control-label mb-10">Confirmation Password</label>
        <%=f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"%>
      </div>
    </div>

    <div class="col-md-12">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%=f.submit class: "btn btn-success"%>
      </div>
    </div>

  </div>

<%end%>
