$("input#admin_admin_name").val("");
$("#admin-errors").html(" ");
$("#admin-success").html("<%= custom_flash_message%>");
$("#admin-index").append("<%=escape_javascript render(@admin)%>");

$(function() {
  $('.delete_admin_<%=@admin.id%>').submitOnCheck();
});

$('.delete_admin_<%=@admin.id%>').submitOnCheck();