
	<div class="page-wrapper">
		<div class="container pt-30">
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-success card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<h6 class="panel-title txt-light">Edit admin</h6>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">
								<%=simple_form_for([:admin, @admin]) do |f|%>
								<div class="row">
									<div class="col-md-12">
							      <div class="form-group">
							        <label for="recipient-name" class="control-label mb-10">Role</label>
							        <%=f.select :role,(Admin.roles.keys.map{ |role| [role.titleize, role]}), {}, {:class=>"form-control"}%>
							      </div>
							    </div>

							    <div class="col-md-6">
							      <div class="form-group">
							        <label for="recipient-name" class="control-label mb-10">First Name</label>
							        <%=f.text_field :first_name, class: "form-control"%>
							      </div>
							    </div>

							    <div class="col-md-6">
							      <div class="form-group">
							        <label for="recipient-name" class="control-label mb-10">Last Name</label>
							        <%=f.text_field :last_name, class: "form-control"%>
							      </div>
							    </div>

							    <div class="col-md-12">
							      <div class="form-group">
							        <label for="recipient-name" class="control-label mb-10">Username</label>
							        <%=f.text_field :username, class: "form-control"%>
							      </div>
							    </div>


							    <div class="col-md-12">
							      <div class="form-group">
							        <label for="recipient-name" class="control-label mb-10">Email</label>
							        <%=f.text_field :email, class: "form-control"%>
							      </div>
							    </div>

							    <div class="col-md-12">
							      <div class="form-group">
							        <label for="recipient-name" class="control-label mb-10">Password</label>
											<p>Leave it blank if you don't want to change your password</p>
							        <%=f.password_field :password, class: "form-control", placeholder: "Password"%>
							      </div>
							    </div>

							    <div class="col-md-12">
							      <div class="form-group">
							        <label for="recipient-name" class="control-label mb-10">Confirmation Password</label>
											<p>Leave it blank if you don't want to change your password</p>
											<%=f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"%>
							      </div>
							    </div>
									<div class="col-md-12">
										<div class="modal-footer">
											<%=link_to "Cancle", admin_admin_path, class: "btn btn-default"%>
											<%=f.submit class: "btn btn-success"%>
										</div>
									</div>
								</div>

							<%end%>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%=render "applications/footer"%>

</div>
