<div class="wrapper  pa-0">
	<!-- Main Content -->
	<div class="page-wrapper pa-0 ma-0 auth-page">
		<div class="container">
			<!-- Row -->
			<div class="table-struct full-width full-height">
				<div class="table-cell vertical-align-middle auth-form-wrap">
					<div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30" style="width: 35%;">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<div class="mb-30">
									<h3 class="text-center txt-dark mb-10">Sign In Your Account Here</h3>
									<h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
									<p class="text-center nonecase-font txt-grey">Don't have an account <%= link_to "Sign Up", sign_up_path, style: "font-weight: bold;"%></p>
								</div>
								<div class="form-wrap">
									<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
									<div class="form-group">
										<label class="control-label mb-10" for="exampleInputEmail_2">Phone or Email Address</label>
										<%= f.text_field :login,autofocus: true,:class=>"form-control input-no-border",:placeholder=>"Example: 95472222"%>
									</div>
									<div class="form-group">
										<label class="pull-left control-label mb-10" for="exampleInputpwd_2">Password</label>
										<div class="clearfix"></div>
										<%= f.password_field :password,autocomplete: 'off', class: 'form-control input-no-border', :placeholder=>"Password"%>
									</div>

									<div class="form-group text-center">
										<button type="submit" class="btn btn-orange btn-rounded">sign in</button>
										<%=link_to "Home", root_path, class: "btn btn-default btn-rounded"%>
									</div>
								<%end%>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Row -->
	</div>

</div>
<!-- /Main Content -->

</div>
