
	<div class="page-wrapper">
		<div class="container pt-30">
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-success card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<h6 class="panel-title txt-light">Edit category</h6>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">
								<%=simple_form_for([:admin, @category]) do |f|%>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="recipient-name" class="control-label mb-10">category Name</label>
											<%=f.text_field :category_name, class: "form-control"%>
										</div>
									</div>
									<div class="col-md-12">
										<div class="modal-footer">
											<%=link_to "Cancle", admin_category_path, class: "btn btn-default"%>
											<%=f.submit class: "btn btn-success"%>
										</div>
									</div>
								</div>

							<%end%>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%=render "applications/footer"%>

</div>
