@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontellodfbc.eot?18056628');
  src: url('/fonts/fontellodfbc.eot?18056628#iefix') format('embedded-opentype'),
       url('/fonts/fontellodfbc.woff?18056628') format('woff'),
       url('/fonts/fontellodfbc.html?18056628') format('truetype'),
       url('/fonts/fontellodfbc.svg?18056628#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?18056628#fontello') format('svg');
  }
}
*/

 [class^="weather-icon-"]:before, [class*=" weather-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.weather-icon-windy-rain-inv:before { content: '\e800'; } /* '' */
.weather-icon-snow-inv:before { content: '\e801'; } /* '' */
.weather-icon-snow-heavy-inv:before { content: '\e802'; } /* '' */
.weather-icon-hail-inv:before { content: '\e803'; } /* '' */
.weather-icon-clouds-inv:before { content: '\e804'; } /* '' */
.weather-icon-clouds-flash-inv:before { content: '\e805'; } /* '' */
.weather-icon-temperature:before { content: '\e806'; } /* '' */
.weather-icon-compass:before { content: '\e807'; } /* '' */
.weather-icon-na:before { content: '\e808'; } /* '' */
.weather-icon-fahrenheit:before { content: '\e809'; } /* '' */
.weather-icon-clouds-flash-alt:before { content: '\e80a'; } /* '' */
.weather-icon-sun-inv:before { content: '\e80b'; } /* '' */
.weather-icon-moon-inv:before { content: '\e80c'; } /* '' */
.weather-icon-cloud-sun-inv:before { content: '\e80d'; } /* '' */
.weather-icon-cloud-moon-inv:before { content: '\e80e'; } /* '' */
.weather-icon-cloud-inv:before { content: '\e80f'; } /* '' */
.weather-icon-cloud-flash-inv:before { content: '\e810'; } /* '' */
.weather-icon-drizzle-inv:before { content: '\e811'; } /* '' */
.weather-icon-rain-inv:before { content: '\e812'; } /* '' */
.weather-icon-windy-inv:before { content: '\e813'; } /* '' */
.weather-icon-sunrise:before { content: '\e814'; } /* '' */
.weather-icon-sun:before { content: '\e815'; } /* '' */
.weather-icon-moon:before { content: '\e816'; } /* '' */
.weather-icon-eclipse:before { content: '\e817'; } /* '' */
.weather-icon-mist:before { content: '\e818'; } /* '' */
.weather-icon-wind:before { content: '\e819'; } /* '' */
.weather-icon-snowflake:before { content: '\e81a'; } /* '' */
.weather-icon-cloud-sun:before { content: '\e81b'; } /* '' */
.weather-icon-cloud-moon:before { content: '\e81c'; } /* '' */
.weather-icon-fog-sun:before { content: '\e81d'; } /* '' */
.weather-icon-fog-moon:before { content: '\e81e'; } /* '' */
.weather-icon-fog-cloud:before { content: '\e81f'; } /* '' */
.weather-icon-fog:before { content: '\e820'; } /* '' */
.weather-icon-cloud:before { content: '\e821'; } /* '' */
.weather-icon-cloud-flash:before { content: '\e822'; } /* '' */
.weather-icon-cloud-flash-alt:before { content: '\e823'; } /* '' */
.weather-icon-drizzle:before { content: '\e824'; } /* '' */
.weather-icon-rain:before { content: '\e825'; } /* '' */
.weather-icon-windy:before { content: '\e826'; } /* '' */
.weather-icon-windy-rain:before { content: '\e827'; } /* '' */
.weather-icon-snow:before { content: '\e828'; } /* '' */
.weather-icon-snow-alt:before { content: '\e829'; } /* '' */
.weather-icon-snow-heavy:before { content: '\e82a'; } /* '' */
.weather-icon-hail:before { content: '\e82b'; } /* '' */
.weather-icon-clouds:before { content: '\e82c'; } /* '' */
.weather-icon-clouds-flash:before { content: '\e82d'; } /* '' */
