<tr class="delete_user_<%=user.id%>">

  <td>
    <%= user.email%>
  </td>

  <td>
    <%=user.phone_number%>
  </td>
  <%if user.verified == true%>
    <td style="color: green;">
      <%=status_converter(user.verified, correct: "Verified", incorrect: "Not Verified")%>
    </td>
  <%else%>
    <td style="color: orange;">
      <%=status_converter(user.verified, correct: "Verified", incorrect: "Not Verified")%>
    </td>
  <%end%>

  <td>
    <%=time_ago(user.created_at)%>
  </td>

  <td>
    <%=form_for([:admin, user], remote: true) do |f|%>
      <%=link_to admin_user_path(user), email: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_user_path(user), email: "Edit",id: "show-form_#{user.id}" do %>
        Edit
      <%end%>
    <%end%>
  </td>
  <td style="display: none;">test</td>
</tr>
