
	<div class="page-wrapper">
		<div class="container pt-30">
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-success card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<h6 class="panel-title txt-light">Edit user</h6>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">
								<%=simple_form_for([:admin, @user]) do |f|%>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="recipient-name" class="control-label mb-10">user Name</label>
											<%=f.text_field :phone_number, class: "form-control"%>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<div class="checkbox checkbox-success">
												<%=f.check_box :verified, id: "checkbox3"%>
												<label for="checkbox3">
													Status
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="modal-footer">
											<%=link_to "Cancle", admin_user_path, class: "btn btn-default"%>
											<%=f.submit class: "btn btn-success"%>
										</div>
									</div>
								</div>

							<%end%>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%=render "applications/footer"%>

</div>
