<ul>
  <li><%=link_to "Home", root_path%></li>
  <%if user_signed_in?%>
    <li><%= current_user.username %></li>
    <li><%=current_user.role%></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
    <li>
      <% if !@current_cart %>
        <%= link_to cart_path(@current_cart) do%>
        My Cart (<%= @current_cart.line_items.count%>)
        <%end%>
      <%else%>
        <%= link_to cart_path(@current_cart) do%>
          My Cart (<%= @current_cart.line_items.count%>)
        <%end%>
      <% end %>
    </li>
  <%else%>
    <li><%= link_to "Login", sign_in_path %></li>
    <li><%= link_to "Sign Up", sign_up_path%></li>
  <%end%>
</ul>
