<div class="wrapper  pa-0">
			<header class="sp-header">
				<div class="sp-logo-wrap pull-left">
					<a href="index-2.html">
						<img class="brand-img mr-10" src="" alt="brand"/>
						<span class="brand-text"><img  src="" alt="brand"/></span>
					</a>
				</div>
				<div class="clearfix"></div>
			</header>

			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<h3 class="text-center txt-dark mb-10">Verify Your Account</h3>
											<h6 class="text-center nonecase-font txt-grey">Enter your code below</h6>
										</div>
										<div class="form-wrap">
                      <div class="row">
                        <div class="col-lg-12" style="padding-left: 0px;">
                          <div class="verify_container">
                            <div class="form-group col-lg-12">
                              <%= form_tag users_verify_path do %>
                                <%= label_tag :code, "Verification Code:" %>
                                <%= text_field_tag :token, '', class: "form-control" %>
                                <br>
                                <button type="submit" class="btn btn-primary">Verify Token</button>
                              <% end %>
                            </div>
                          </div>
                        </div>
                        <div class="verify_container">.
                          <div class="form-group col-lg-12">
                            <%= form_tag users_resend_path do %>
                              <button type="submit" class="btn">Resend code</button>
                            <% end %>
                          </div>
                        </div>
                      </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>

			</div>
			<!-- /Main Content -->

		</div>
